.item {
  height: 48px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.item.center {
  justify-content: center;
}

.item:hover {
  background: var(--hover-background);
}
