@font-face{
	font-family:BebasNeue-Regular;
	src: url(BebasNeue-Regular.otf);
}

html {
	height: 216px;
	width: 200px;
	text-align: center;
}

body {
	height: 200px;
}

h1 {
	margin-top: 0;
	margin-bottom: 0;
	font-family: BebasNeue-Regular;
	font-size: 35px;
}

ul {
	width: 65%;
	padding-left: 0;
	margin: auto;
}

ul li {
	padding-top: 5px;
	padding-bottom: 5px;
    list-style-type: none;
	height: 35px;
}

#button {
	display: inline-flex;
}

#logo {
	height: 35px;
	width: 35px;
}

#space {
	width: 25px;
}

button:active, button:focus {
	outline : 0;
}

#crunchyroll, #youtube, #gogoanime {
	height: 35px;
	width: 35px;
	background-image: url("/assets/power.png");
	background-size: 35px 35px;
	border: none;
}

#reset {
	width: 65%;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #ffffff;
	color: gray;
	border-width: 1px;
	border-color: gray;
	border-radius: 12px;
	
}

.buttonON {
	background-color: green;
}

.buttonOFF {
	background-color: red;
}
