/* background image */
html[ic_hide_background_image='true'] body.main-page {
  background-color: var(--primary);
  background-image: none;
}

html[ic_hide_background_image='true'] #template_skin_leaderboard {
  height: 0 !important;
}

html[ic_hide_background_image='true'] #template_skin_leaderboard > *,
html[ic_hide_background_image='true'] #template_skin_splashlink {
  display: none;
}

/* banner */
html[ic_hide_banner='true'] .cr-expo-banner {
  display: none !important;
}

html[ic_hide_banner='true'] body.main-page {
  background-position: center 60px !important;
}

/* message box */
html[ic_hide_message_box='true'] #message_box div:first-child {
  display: none !important;
}

/* remove template_scroller padding top */
#template_scroller {
  padding-top: 0px !important;
}

/* -------------------------------------------------- THEME FIXES -------------------------------------------------- */

html[ic_theme]:not([ic_theme='0']) #header_search_submit_beta {
  border-radius: 0 !important;
  background-color: initial !important;
}

html[ic_theme]:not([ic_theme='0']) .footer-column img {
  border: none;
}

html[ic_theme]:not([ic_theme='0']) .collection-carousel-arrow {
  background-image: url(/i/beta/showmedia/collection_arrow.png) !important;
}

html[ic_theme]:not([ic_theme='0']) .source-home .dropdown-collection {
  background-size: 45px 152.5px;
  background-position-x: center;
  background-image: url(/i/comics/queue_dropdown_arrow.png);
}

html[ic_theme]:not([ic_theme='0']) .source-home .dropdown-collection:hover {
  background-position: center -42px;
}

html[ic_theme]:not([ic_theme='0']) .source-home .dropdown-collection.open {
  background-position-y: -126px;
}

html[ic_theme]:not([ic_theme='0']) .erc-account-menu__user-meta::before {
  background-image: linear-gradient(to right, rgba(242, 242, 242, 0), var(--secondary));
}
