html[ic_hide_subtitles='true'] #velocity-canvas {
  display: none;
}

html[ic_hide_dim_screen='true'] #velocity-controls-package > div:first-child {
  background: none !important;
}

#velocity-canvas {
  height: 100%;
}

.ic_div {
  display: flex;
}

.ic_buttons {
  line-height: 40px;
  height: 40px;
  width: 40px;
  text-align: center;
  color: whitesmoke;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.ic_buttons:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.theater_mode {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px'%0Awidth='64' height='64'%0AviewBox='0 0 226 226'%0Astyle=' fill:%23000000;'%3E%3Cg fill='none' fill-rule='nonzero' stroke='none' stroke-width='1' stroke-linecap='butt' stroke-linejoin='miter' stroke-miterlimit='10' stroke-dasharray='' stroke-dashoffset='0' font-family='none' font-weight='none' font-size='none' text-anchor='none' style='mix-blend-mode: normal'%3E%3Cpath d='M0,226v-226h226v226z' fill='none'%3E%3C/path%3E%3Cg fill='%23B9B9B9'%3E%3Cpath d='M218.56506,1.78287c-0.41106,0.04966 -0.82004,0.15794 -1.21731,0.3345c-67.27031,22.24688 -141.42518,22.24688 -208.6955,0c-1.58906,-0.52969 -3.35676,-0.35244 -4.76926,0.70694c-1.23594,0.88281 -2.11737,2.47256 -2.11737,4.23819v141.25c0,3.00156 2.29531,5.29688 5.29688,5.29688c3.00156,0 5.29688,-2.29531 5.29688,-5.29687v-134.01163c65.15156,20.12812 136.12969,20.12812 201.28125,0v134.01163c0,3.00156 2.29531,5.29688 5.29688,5.29688c3.00156,0 5.29688,-2.29531 5.29688,-5.29687v-141.25c0,-1.76562 -0.88144,-3.35538 -2.11737,-4.23819c-1.05937,-0.79453 -2.31876,-1.19042 -3.55194,-1.04144zM56.5,143.01563c-8.82812,0 -15.89062,7.0625 -15.89062,15.89063v14.125c0,3.00156 2.29531,5.29688 5.29688,5.29688h56.5c3.00156,0 5.29688,-2.29531 5.29688,-5.29687v-14.125c0,-8.82812 -7.0625,-15.89062 -15.89062,-15.89062zM134.1875,143.01563c-8.82812,0 -15.89062,7.0625 -15.89062,15.89063v14.125c0,3.00156 2.29531,5.29688 5.29688,5.29688h56.5c3.00156,0 5.29688,-2.29531 5.29688,-5.29687v-14.125c0,-8.82812 -7.0625,-15.89062 -15.89062,-15.89062zM17.65625,188.92188c-8.82812,0 -15.89062,7.0625 -15.89062,15.89063v14.125c0,3.00156 2.29531,5.29688 5.29688,5.29688h56.5c3.00156,0 5.29688,-2.29531 5.29688,-5.29687v-14.125c0,-8.82812 -7.0625,-15.89062 -15.89062,-15.89062zM95.34375,188.92188c-8.82812,0 -15.89062,7.0625 -15.89062,15.89063v14.125c0,3.00156 2.29531,5.29688 5.29688,5.29688h56.5c3.00156,0 5.29688,-2.29531 5.29688,-5.29687v-14.125c0,-8.82812 -7.0625,-15.89062 -15.89062,-15.89062zM173.03125,188.92188c-8.82812,0 -15.89062,7.0625 -15.89062,15.89063v14.125c0,3.00156 2.29531,5.29688 5.29688,5.29688h56.5c3.00156,0 5.29688,-2.29531 5.29688,-5.29687v-14.125c0,-8.82812 -7.0625,-15.89062 -15.89062,-15.89062z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

html[ic_player_mode='1'] .theater_mode {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px'%0Awidth='64' height='64'%0AviewBox='0 0 226 226'%0Astyle=' fill:%23000000;'%3E%3Cg fill='none' fill-rule='nonzero' stroke='none' stroke-width='1' stroke-linecap='butt' stroke-linejoin='miter' stroke-miterlimit='10' stroke-dasharray='' stroke-dashoffset='0' font-family='none' font-weight='none' font-size='none' text-anchor='none' style='mix-blend-mode: normal'%3E%3Cpath d='M0,226v-226h226v226z' fill='none'%3E%3C/path%3E%3Cg fill='%23F5F5F5'%3E%3Cpath d='M218.56506,1.78287c-0.41106,0.04966 -0.82004,0.15794 -1.21731,0.3345c-67.27031,22.24688 -141.42518,22.24688 -208.6955,0c-1.58906,-0.52969 -3.35676,-0.35244 -4.76926,0.70694c-1.23594,0.88281 -2.11737,2.47256 -2.11737,4.23819v141.25c0,3.00156 2.29531,5.29688 5.29688,5.29688c3.00156,0 5.29688,-2.29531 5.29688,-5.29687v-134.01163c65.15156,20.12812 136.12969,20.12812 201.28125,0v134.01163c0,3.00156 2.29531,5.29688 5.29688,5.29688c3.00156,0 5.29688,-2.29531 5.29688,-5.29687v-141.25c0,-1.76562 -0.88144,-3.35538 -2.11737,-4.23819c-1.05937,-0.79453 -2.31876,-1.19042 -3.55194,-1.04144zM56.5,143.01563c-8.82812,0 -15.89062,7.0625 -15.89062,15.89063v14.125c0,3.00156 2.29531,5.29688 5.29688,5.29688h56.5c3.00156,0 5.29688,-2.29531 5.29688,-5.29687v-14.125c0,-8.82812 -7.0625,-15.89062 -15.89062,-15.89062zM134.1875,143.01563c-8.82812,0 -15.89062,7.0625 -15.89062,15.89063v14.125c0,3.00156 2.29531,5.29688 5.29688,5.29688h56.5c3.00156,0 5.29688,-2.29531 5.29688,-5.29687v-14.125c0,-8.82812 -7.0625,-15.89062 -15.89062,-15.89062zM17.65625,188.92188c-8.82812,0 -15.89062,7.0625 -15.89062,15.89063v14.125c0,3.00156 2.29531,5.29688 5.29688,5.29688h56.5c3.00156,0 5.29688,-2.29531 5.29688,-5.29687v-14.125c0,-8.82812 -7.0625,-15.89062 -15.89062,-15.89062zM95.34375,188.92188c-8.82812,0 -15.89062,7.0625 -15.89062,15.89063v14.125c0,3.00156 2.29531,5.29688 5.29688,5.29688h56.5c3.00156,0 5.29688,-2.29531 5.29688,-5.29687v-14.125c0,-8.82812 -7.0625,-15.89062 -15.89062,-15.89062zM173.03125,188.92188c-8.82812,0 -15.89062,7.0625 -15.89062,15.89063v14.125c0,3.00156 2.29531,5.29688 5.29688,5.29688h56.5c3.00156,0 5.29688,-2.29531 5.29688,-5.29687v-14.125c0,-8.82812 -7.0625,-15.89062 -15.89062,-15.89062z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.fullscreen_mode {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px'%0Awidth='50' height='50'%0AviewBox='0 0 226 226'%0Astyle=' fill:%23000000;'%3E%3Cg fill='none' fill-rule='nonzero' stroke='none' stroke-width='1' stroke-linecap='butt' stroke-linejoin='miter' stroke-miterlimit='10' stroke-dasharray='' stroke-dashoffset='0' font-family='none' font-weight='none' font-size='none' text-anchor='none' style='mix-blend-mode: normal'%3E%3Cpath d='M0,226v-226h226v226z' fill='none'%3E%3C/path%3E%3Cg fill='%23B9B9B9'%3E%3Cpath d='M27.12,27.12v54.24c-0.05297,3.26641 1.65969,6.28563 4.48469,7.92766c2.80734,1.65969 6.30328,1.65969 9.11063,0c2.825,-1.64203 4.53766,-4.66125 4.48469,-7.92766v-36.16h36.16c3.26641,0.05297 6.28563,-1.65969 7.92766,-4.48469c1.65969,-2.80734 1.65969,-6.30328 0,-9.11063c-1.64203,-2.825 -4.66125,-4.53766 -7.92766,-4.48469zM144.64,27.12c-4.99672,-0.17656 -9.18125,3.72547 -9.35781,8.72219c-0.17656,4.97906 3.72547,9.18125 8.72219,9.35781c0.21187,0 0.42375,0 0.63563,0h36.16v36.16c-0.07063,4.74953 3.54891,8.73984 8.26313,9.12828c0.30016,0.03531 0.60031,0.03531 0.91813,0.03531c4.97906,-0.07063 8.96937,-4.16688 8.89875,-9.16359v-54.24zM36.01875,139.99641c-4.97906,0.07063 -8.96937,4.16688 -8.89875,9.16359v54.24h54.24c0.30016,0 0.60031,0 0.90047,-0.03531c4.83781,-0.44141 8.45734,-4.60828 8.21016,-9.44609c-0.22953,-4.85547 -4.25516,-8.65156 -9.11063,-8.59859h-36.16v-36.16c0.03531,-2.43656 -0.91813,-4.78484 -2.64844,-6.51516c-1.73031,-1.73031 -4.07859,-2.68375 -6.53281,-2.64844zM189.69875,139.99641c-4.97906,0.07063 -8.96938,4.16688 -8.89875,9.16359v36.16h-36.16c-3.26641,-0.05297 -6.28563,1.65969 -7.92766,4.48469c-1.65969,2.80734 -1.65969,6.30328 0,9.11062c1.64203,2.825 4.66125,4.53766 7.92766,4.48469h54.24v-54.24c0.03531,-2.43656 -0.91813,-4.78484 -2.64844,-6.51516c-1.73031,-1.73031 -4.07859,-2.68375 -6.53281,-2.64844z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

html[ic_player_mode='2'] .fullscreen_mode {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px'%0Awidth='50' height='50'%0AviewBox='0 0 226 226'%0Astyle=' fill:%23000000;'%3E%3Cg fill='none' fill-rule='nonzero' stroke='none' stroke-width='1' stroke-linecap='butt' stroke-linejoin='miter' stroke-miterlimit='10' stroke-dasharray='' stroke-dashoffset='0' font-family='none' font-weight='none' font-size='none' text-anchor='none' style='mix-blend-mode: normal'%3E%3Cpath d='M0,226v-226h226v226z' fill='none'%3E%3C/path%3E%3Cg fill='%23F5F5F5'%3E%3Cpath d='M27.12,27.12v54.24c-0.05297,3.26641 1.65969,6.28563 4.48469,7.92766c2.80734,1.65969 6.30328,1.65969 9.11063,0c2.825,-1.64203 4.53766,-4.66125 4.48469,-7.92766v-36.16h36.16c3.26641,0.05297 6.28563,-1.65969 7.92766,-4.48469c1.65969,-2.80734 1.65969,-6.30328 0,-9.11063c-1.64203,-2.825 -4.66125,-4.53766 -7.92766,-4.48469zM144.64,27.12c-4.99672,-0.17656 -9.18125,3.72547 -9.35781,8.72219c-0.17656,4.97906 3.72547,9.18125 8.72219,9.35781c0.21187,0 0.42375,0 0.63563,0h36.16v36.16c-0.07063,4.74953 3.54891,8.73984 8.26313,9.12828c0.30016,0.03531 0.60031,0.03531 0.91813,0.03531c4.97906,-0.07063 8.96937,-4.16688 8.89875,-9.16359v-54.24zM36.01875,139.99641c-4.97906,0.07063 -8.96937,4.16688 -8.89875,9.16359v54.24h54.24c0.30016,0 0.60031,0 0.90047,-0.03531c4.83781,-0.44141 8.45734,-4.60828 8.21016,-9.44609c-0.22953,-4.85547 -4.25516,-8.65156 -9.11063,-8.59859h-36.16v-36.16c0.03531,-2.43656 -0.91813,-4.78484 -2.64844,-6.51516c-1.73031,-1.73031 -4.07859,-2.68375 -6.53281,-2.64844zM189.69875,139.99641c-4.97906,0.07063 -8.96938,4.16688 -8.89875,9.16359v36.16h-36.16c-3.26641,-0.05297 -6.28563,1.65969 -7.92766,4.48469c-1.65969,2.80734 -1.65969,6.30328 0,9.11062c1.64203,2.825 4.66125,4.53766 7.92766,4.48469h54.24v-54.24c0.03531,-2.43656 -0.91813,-4.78484 -2.64844,-6.51516c-1.73031,-1.73031 -4.07859,-2.68375 -6.53281,-2.64844z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.scrollbar {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px'%0Awidth='100' height='100'%0AviewBox='0 0 226 226'%0Astyle=' fill:%23000000;'%3E%3Cg fill='none' fill-rule='nonzero' stroke='none' stroke-width='1' stroke-linecap='butt' stroke-linejoin='miter' stroke-miterlimit='10' stroke-dasharray='' stroke-dashoffset='0' font-family='none' font-weight='none' font-size='none' text-anchor='none' style='mix-blend-mode: normal'%3E%3Cpath d='M0,226v-226h226v226z' fill='none'%3E%3C/path%3E%3Cg fill='%23F5F5F5'%3E%3Cpath d='M101.7,27.12c-1.24811,0.00012 -2.25988,1.01189 -2.26,2.26v167.24c0.00012,1.24811 1.01189,2.25988 2.26,2.26h20.34c1.24811,-0.00012 2.25988,-1.01189 2.26,-2.26v-167.24c-0.00012,-1.24811 -1.01189,-2.25988 -2.26,-2.26zM103.96,31.64h15.82v162.72h-15.82zM111.85234,38.40234c-0.2997,0.00468 -0.58526,0.12822 -0.79387,0.34345c-0.20861,0.21523 -0.32317,0.50451 -0.31848,0.80421v2.26c-0.00576,0.40752 0.20834,0.78657 0.56034,0.99201c0.35199,0.20544 0.78734,0.20544 1.13933,0c0.35199,-0.20544 0.5661,-0.58449 0.56034,-0.99201v-2.26c0.00479,-0.30582 -0.11459,-0.60052 -0.33086,-0.81679c-0.21627,-0.21627 -0.51097,-0.33565 -0.81679,-0.33086zM111.85234,47.44234c-0.2997,0.00468 -0.58526,0.12822 -0.79387,0.34345c-0.20861,0.21523 -0.32317,0.50451 -0.31848,0.80421v6.78c-0.00576,0.40752 0.20834,0.78657 0.56034,0.99201c0.35199,0.20544 0.78734,0.20544 1.13933,0c0.35199,-0.20544 0.5661,-0.58449 0.56034,-0.99201v-6.78c0.00479,-0.30582 -0.11459,-0.60052 -0.33086,-0.81679c-0.21627,-0.21627 -0.51097,-0.33565 -0.81679,-0.33086zM111.85234,61.00234c-0.2997,0.00468 -0.58526,0.12822 -0.79387,0.34345c-0.20861,0.21523 -0.32317,0.50451 -0.31848,0.80421v124.3c-0.00576,0.40752 0.20834,0.78657 0.56034,0.99201c0.35199,0.20544 0.78734,0.20544 1.13933,0c0.35199,-0.20544 0.5661,-0.58449 0.56034,-0.99201v-124.3c0.00479,-0.30582 -0.11459,-0.60052 -0.33086,-0.81679c-0.21627,-0.21627 -0.51097,-0.33565 -0.81679,-0.33086z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

html[ic_scrollbar='true'] .scrollbar {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px'%0Awidth='100' height='100'%0AviewBox='0 0 226 226'%0Astyle=' fill:%23000000;'%3E%3Cg fill='none' fill-rule='nonzero' stroke='none' stroke-width='1' stroke-linecap='butt' stroke-linejoin='miter' stroke-miterlimit='10' stroke-dasharray='' stroke-dashoffset='0' font-family='none' font-weight='none' font-size='none' text-anchor='none' style='mix-blend-mode: normal'%3E%3Cpath d='M0,226v-226h226v226z' fill='none'%3E%3C/path%3E%3Cg fill='%23B9B9B9'%3E%3Cpath d='M101.7,27.12c-1.24811,0.00012 -2.25988,1.01189 -2.26,2.26v167.24c0.00012,1.24811 1.01189,2.25988 2.26,2.26h20.34c1.24811,-0.00012 2.25988,-1.01189 2.26,-2.26v-167.24c-0.00012,-1.24811 -1.01189,-2.25988 -2.26,-2.26zM103.96,31.64h15.82v162.72h-15.82zM111.85234,38.40234c-0.2997,0.00468 -0.58526,0.12822 -0.79387,0.34345c-0.20861,0.21523 -0.32317,0.50451 -0.31848,0.80421v2.26c-0.00576,0.40752 0.20834,0.78657 0.56034,0.99201c0.35199,0.20544 0.78734,0.20544 1.13933,0c0.35199,-0.20544 0.5661,-0.58449 0.56034,-0.99201v-2.26c0.00479,-0.30582 -0.11459,-0.60052 -0.33086,-0.81679c-0.21627,-0.21627 -0.51097,-0.33565 -0.81679,-0.33086zM111.85234,47.44234c-0.2997,0.00468 -0.58526,0.12822 -0.79387,0.34345c-0.20861,0.21523 -0.32317,0.50451 -0.31848,0.80421v6.78c-0.00576,0.40752 0.20834,0.78657 0.56034,0.99201c0.35199,0.20544 0.78734,0.20544 1.13933,0c0.35199,-0.20544 0.5661,-0.58449 0.56034,-0.99201v-6.78c0.00479,-0.30582 -0.11459,-0.60052 -0.33086,-0.81679c-0.21627,-0.21627 -0.51097,-0.33565 -0.81679,-0.33086zM111.85234,61.00234c-0.2997,0.00468 -0.58526,0.12822 -0.79387,0.34345c-0.20861,0.21523 -0.32317,0.50451 -0.31848,0.80421v124.3c-0.00576,0.40752 0.20834,0.78657 0.56034,0.99201c0.35199,0.20544 0.78734,0.20544 1.13933,0c0.35199,-0.20544 0.5661,-0.58449 0.56034,-0.99201v-124.3c0.00479,-0.30582 -0.11459,-0.60052 -0.33086,-0.81679c-0.21627,-0.21627 -0.51097,-0.33565 -0.81679,-0.33086z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

html[ic_player_mode='2'] .theater_mode,
html[ic_fullscreen='true'] .theater_mode,
html[ic_fullscreen='true'] .fullscreen_mode,
html[ic_fullscreen='true'] .scrollbar {
  display: none;
}

#vilosSettingsMenu .ic_settings,
#vilosSettingsMenu[ic_options='submenu'] > .ic_menu,
#vilosSettingsMenu[ic_options='hide'] > * {
  display: none;
}

#vilosSettingsMenu > .ic_settings:target {
  display: flex !important;
  flex-direction: column;
  overflow-y: auto;
}

.ic_menu:hover,
.ic_back:hover,
.ic_option:hover {
  background-color: rgb(35, 37, 43);
}

.ic_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 40px;
  cursor: pointer;
  touch-action: manipulation;
}

.ic_menu .right {
  display: flex;
  align-items: center;
  margin-right: -2px;
}

.ic_menu .right_text {
  max-width: 154px;
  overflow: hidden;
}

.ic_menu .font {
  font-family: Lato;
  font-size: 14px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.ic_menu .right_text .font {
  color: rgb(218, 218, 218);
}

.ic_menu .next {
  height: 24px;
  width: 24px;
  position: relative;
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%20d%3D%22M8.6%207.4L10%206l6%206-6%206-1.4-1.4%204.6-4.6z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
}

.ic_back {
  padding: 0 20px;
  margin-top: 10px;
  min-height: 40px;
  align-items: center;
  cursor: pointer;
  touch-action: manipulation;
  display: flex;
}

.ic_back .back {
  height: 24px;
  width: 24px;
  margin-left: -2px;
  margin-right: 6px;
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%20d%3D%22M15.4%2016.6L14%2018l-6-6%206-6%201.4%201.4-4.6%204.6z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
}

.ic_back .font {
  font-family: Lato;
  font-size: 18px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.ic_options {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.ic_option {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 20px;
  min-height: 40px;
  cursor: pointer;
  touch-action: manipulation;
}

.ic_option .text {
  max-width: 250px;
  overflow: hidden;
  margin-left: 8px;
}

.ic_option .font {
  font-family: Lato;
  font-size: 14px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.ic_option:not([value='true']) .dot {
  display: none;
}

.ic_option[value='true'] .outer_circle {
  fill: rgb(68, 195, 171) !important;
}

.ic_option > input[type='range'] {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  width: fit-content;
}
