/* crunchyroll colors */
html {
  --crunchyroll-blue: #0a6da4;
  --crunchyroll-blue-light: #0091d1;
  --crunchyroll-orange: #df6300;
  --crunchyroll-orange-light: #f78c25;
  --crunchyroll-orange-lightest: #faaf3f;

  --primary: rgb(255, 255, 255);
  --secondary: rgb(242, 242, 242);
  --tertiary: #e5e5e5;
  --primary-font: #363136;
  --secondary-font: #3f3f3f;
}

/* dark mode */
html[ic_theme='1'] {
  --primary: rgb(52, 58, 64);
  --secondary: rgb(32, 38, 48);
  --tertiary: rgb(22, 28, 38);
  --primary-font: rgb(245, 245, 245);
  --primary-font-75: rgba(245, 245, 245, 0.75);
  --secondary-font: rgb(205, 205, 205);
  --tertiary-font: rgb(125, 125, 125);
  --crunchyroll-blue: rgb(0, 185, 249);
}
html[ic_theme]:not[ic_theme='0'] .erc-header,
html[ic_theme]:not[ic_theme='0'] .erc-page-overlay {
  --cx-colors-shark: var(--primary-font); /* 23252b */
  --cx-colors-silver: var(--tertiary); /* dadada; */
  --cx-colors-white: var(--primary); /* ffffff */
  --cx-colors-woodsmoke: var(--secondary-font); /* 141519 */
  /* --cx-colors-orange-base: #f47521; */
  /* --cx-colors-orange-dark: #e56a17; */
  --cx-colors-light-gray: var(--secondary); /* f2f2f2 */
  --cx-colors-alabaster: var(--primary); /* f8f8f8 */
  --cx-colors-scarpa-flow: var(--tertiary-font); /* 59595b */
}
html[ic_theme]:not[ic_theme='0'] .erc-account-menu {
  /* --cx-acc-menu-accent-color: #f47521; */
  --cx-acc-menu-black-color: var(--primary-font); /* 23252b */
}
