/* crunchyroll colors */
html[ic_theme] {
  --crunchyroll-blue: #0a6da4;
  --crunchyroll-blue-light: #0091d1;
  --crunchyroll-orange: #df6300;
  --crunchyroll-orange-light: #f78c25;
  --crunchyroll-orange-lightest: #faaf3f;
  --crunchyroll-white: rgb(242, 242, 242);
}

/* dark mode */
html[ic_theme][ic_theme='1'] {
  --primary: rgb(52, 58, 64);
  --secondary: rgb(32, 38, 48);
  --tertiary: rgb(22, 28, 38);
  --primary-font: rgb(245, 245, 245);
  --primary-font-75: rgba(245, 245, 245, 0.75);
  --secondary-font: rgb(205, 205, 205);
  --tertiary-font: rgb(125, 125, 125);
  --crunchyroll-blue: rgb(0, 185, 249);
}
