.folder {
    display: flex;
    cursor: pointer;
    align-items: center;
    flex-direction: column;
    width: calc(100% / 3);
    padding: 16px 0 0 0;
    color: var(--secondary-font);
    height: fit-content;
}

.folder:hover svg {
    transform: scale(0.9);
}

.folder svg {
    overflow: visible;
    height: 28px;
    margin: 0 0 5px 0;
    padding: 16px;
    transition: transform .25s, box-shadow .29s;
    border-radius: 50%;
    background: var(--crunchyroll-orange);
    box-shadow: 0 1px 2px var(--crunchyroll-orange), 0 3px 10px rgba(0, 0, 0, .24);
    fill: whitesmoke;
}