.switch {
	position: relative;
	width: 60px;
	height: 24px;
}

.switch input {
	display: none;
}

.slider,
.slider:before {
	transition: all 0.25s cubic-bezier(.4, 0, .2, 1)
}

.slider {
	border-radius: 12px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(189, 189, 189);
}

.slider:before {
	border-radius: 50%;
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 3px;
	bottom: 2px;
	background-color: white;
}

.switch[value=true] .slider {
	background-color: var(--crunchyroll-orange);
}

.switch[value=true] .slider:before {
	transform: translateX(34px);
}