.card {
  position: relative;
}

.card:hover .ic_action {
  z-index: 2;
  display: block;
  top: unset;
  right: 0;
  fill: whitesmoke;
}

.card:hover .ic_action:hover {
  fill: white;
  background-color: #23252b;
}

.ic_action_menu {
  background-color: #23252b;
}

.ic_action_menu > div:hover {
  background-color: black;
}

.ic_action_menu_parent::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 226 226' fill='%23AAAAAA'%3E%3Cpath d='M75.33333,37.66667v150.66667l75.33333,-75.33333z'%3E%3C/path%3E%3C/svg%3E");
  background-position-y: center;
  transform: scaleX(1.3);
}