html[ic_scrollbar='true'] ::-webkit-scrollbar {
  width: 0;
}

.video-player-wrapper {
  transition: max-height 0.75s ease-in-out;
}

html[ic_player_mode='1'] .video-player-wrapper {
  max-height: calc(100vh - 3.75rem);
}

html[ic_player_mode='2'] .video-player-wrapper {
  max-height: 100vh;
}

.erc-header {
  transition: flex-basis 0.75s ease-in-out;
}

html[ic_player_mode='2'] .erc-header {
  flex-basis: 0;
}

.header-content {
  transform: initial;
  transition: transform 0.75s ease-in-out;
}

html[ic_player_mode='2'] .header-content {
  transform: translate(0, -3.75rem);
}

html[ic_player_mode='2'][ic_header_on_hover='true'] .header-content::after {
  content: '';
  position: absolute;
  top: 3.75rem;
  width: 100%;
  height: 3.75rem;
  transition: height 0.75s ease-in-out;
}

html[ic_player_mode='2'][ic_header_on_hover='true'] .header-content:hover {
  transform: initial;
}

html[ic_player_mode='2'] .header-content:hover::after {
  height: 0;
}
