.input {
  width: 128px;
  height: 21px;
  border-radius: 6px;
  text-align: center;
  border-color: var(--primary-font);
  background: var(--tertiary);
  color: var(--secondary-font);
}

.input:focus {
  border-radius: 0;
}
