html {
  width: 336px;
  height: 500px;
  --hover-background: rgba(0, 0, 0, 0.08);
}

body {
  height: 100%;
  display: grid;
  grid-template-rows: max-content;
  margin: 0;
}

#content {
  height: 444px;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 14px;
  position: relative;
  background-color: var(--secondary);
}
