.shortcut {
  height: 48px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  background: var(--secondary);
  color: var(--secondary-font);
}

.shortcut span {
  display: flex;
  margin: 0 8px;
  height: 32px;
  min-width: 32px;
  border-radius: 4px;
  padding: 2px 4px;
  align-items: center;
  justify-content: center;
  background: var(--primary);
}
